* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* // */

.container {
  max-width: 1300px;
}
.container-info {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}
.treinos-salvos {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.treinos-salvos span {
  font-size: 36px;
  font-weight: bold;
}
/* // */
.treino-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.treino-container form {
  display: flex;
  flex-direction: column;
}
.treinoButtons {
  max-width: 150px;
  padding: 4px 8px;
  cursor: pointer;
}
.treinoButtons:hover {
  background: greenyellow;
}
